
.blue{
    height: 200px;
    background-color: blue;
}

.verdh{
    height: 200px;
    background-color: yellow;
}

.kuq{
    height: 200px;
    background-color: red;
}

.zi{
    height: 200px;
    background-color: black;
}

.kaltert{
    height: 200px;
    background-color: blue;
}

.gjelbert{
    height: 100px;
    background-color: green;
}

.vjollce{
    height: 100px;
    background-color: purple;
}
.zi{
    height: 100px;
    background-color: black;
}